img {
  width: 200px;
}

.information {
  width: 40%;
  display: block;
  border: 140px #9384e2 solid;
}

.information h2 {
  margin-top: -1px;
  padding-right: 89px;
  background-color: #9384e2;
  color: white;
}

.information p {
  background-color: #9384e2;
  color: white;
  margin: 0 auto;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  overflow: hidden;
}

.accordion-header {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
}

.low {
  border-color: yellow;
  background-color: #ffffcc;
}

.out {
  border-color: red;
  background-color: #ffcccc;
}

#inventoryAlert{
border: solid green 30px;
margin: 30px;
}